* {
    margin: 0px;
    padding: 0px;
}
.intro {
    color: aqua;
}
.row {
    line-height: 0px;
}
.wall, .blank, .sushi, .onigiri, #ninjaman, #bluey, #pinky, #pumpky, #red {
    height: 40px;
    width: 40px;
    display: inline-block;
}
.wall {
    background-color: blue;
}
.blank {
    background-color: black;
}
.sushi, .onigiri, #ninjaman, #bluey, #pinky, #pumpky, #red {
    background-color: black;
    background-size: contain;
}
#ninjaman, #bluey, #pinky, #pumpky, #red {
    position: absolute;
}
.sushi {
    background-image: url("img/sushi.png");
}
.onigiri {
    background-image: url("img/onigiri.png");
}
#ninjaman {
    background-image: url("img/ninja.gif");
}
#bluey {
    background-image: url("img/bluey.gif");
}
#pinky {
    background-image: url("img/pinky.gif");
}
#pumpky {
    background-image: url("img/pumpky.gif");
}
#red {
    background-image: url("img/red.gif");
}
h3 {
    margin-left: 50px;
}